 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html">Party Planners inc.</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="generic.html">General parties</a></li>
			  <li><a href="graduation.html">Graduation</a></li>
              <li><a href="birthday.html">Birthday</a></li>
			  <li><a href="baby.html">Baby Shower</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Graduation</h1>
        <p>Whether your child's graduating from kindergarten, elementary school, high school or even college, we can help you throw the best graduation party to celebrate the beginning of a new era. </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Here to help</h2>
           <p>Whether your child's graduating from kindergarten, elementary school, high school or even college, we can help you throw the best graduation party to celebrate the beginning of a new era.</p>
        </div>
        <div class="span4">
          <h2>There is a good reason they call these ceremonies 'commencement exercises'. Graduation is not the end; it's the beginning.</h2>
        </div>
        <div class="span4">
          <%= image_tag("graduation.jpg", :alt => "picture", :class => "round") %>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
